
<div class="container">
<div class="col-md-4"></div>
<div class="col-md-4">
<form class="form-inline" role="form" ng-submit="submitTodo()">
  <div class="form-group">
    <label class="sr-only" >Todo Message</label>
    <input type="text" class="form-control"  ng-model="newcontent.message" placeholder="Enter todo">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
<ul ng-repeat="x in content">
  <li class="col-md-6">{{x.message}}</li>
  <span class="col-md-6"><button class="btn btn-danger pull-right" ng-click="removeTodo(x._id)">Delete</button>
  <button class="btn btn-success pull-right" ng-click="changer=1">Edit</button>

 <form class="form-inline" ng-submit="editTodo(x._id)" ng-if="changer===1">
  <div class="form-group">
    <label class="sr-only" >Edited Todo Message</label>
    <input type="text" class="form-control"  ng-model="editcontent.info" placeholder="Enter Edition for todo">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
  <hr>
</ul>
</div>

</div>

